# -- Terraform --
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl

# -- Secrets --
*.pem
*.crt

# -- Python -- 
venv/
__pycache__/
*.pyc

# -- Golang -- 
*.exe
*.so
*.dylib